{{ define "title" }}
<!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
{{ .Title }} – {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<main>
  <section id="about" class="container">
    <h1 class="section-heading">Vices Inc</h1>
    <div class="band">
      <div class="band-member">
        <picture>
          <img
            class="band-member-image"
            src="/images/ellie.png"
            srcset="/images/ellie@2x.png 2x"
            alt="" />
        </picture>
        <h3 class="band-member-name">Eleanor</h3>
        <div class="band-member-role">
          <div>Lead Vocals</div>
          <div>Viola</div>
        </div>
      </div>
      <div class="band-member">
        <picture>
          <img
            class="band-member-image"
            src="/images/jag.png"
            srcset="/images/jag@2x.png 2x"
            alt="" />
        </picture>
        <h3 class="band-member-name">Jagger</h3>
        <div class="band-member-role">
          <div>Guitar</div>
          <div>Keyboards</div>
          <div>Ukulele</div>
          <div>Vocals</div>
        </div>
      </div>
      <div class="band-member">
        <picture>
          <img
            class="band-member-image"
            src="/images/kristy.png"
            srcset="/images/kristy@2x.png 2x"
            alt="" />
        </picture>
        <h3 class="band-member-name">Kristy</h3>
        <div class="band-member-role">
          <div>Drums</div>
          <div>Percussion</div>
        </div>
      </div>
    </div>
  </section>
  <section id="music" class="container">
    <h2 class="section-heading">Music</h2>
    <div class="single">
      <h3 class="center">Check out our latest single:</h3>
      <p class="center"><strong>(Hold On) Gravitron</strong></p>
      <iframe src="https://open.spotify.com/embed/album/4aYxJEAtfN4p4clmnqghef" width="100%" height="80" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
    <h2 class="center">Our Albums</h2>
    <div class="album-list">
      <div class="album">
        <picture>
          <img
            class="album-art"
            src="/images/rolling82-cover.jpg"
            srcset="/images/rolling82-cover@2x.jpg 2x"
            alt="Rolling '82 Album Art: A roller skate with a rainbow gradient. The text reads Rolling '82 - Vices Inc" />
        </picture>
        <h3 class="album-title">Rolling '82</h3>
        <p class="album-info">August 20, 2021</p>
      </div>
      <div class="album">
        <picture>
          <img
            class="album-art"
            src="/images/an-everyday-hero.jpg"
            srcset="/images/an-everyday-hero@2x.jpg 2x"
            alt="An Everyday Hero Album Art: A cartoon super hero boy and his cat side kick are featured on a comic book cover titled An Everyday Hero" />
        </picture>
        <h3 class="album-title">An Everyday Hero</h3>
        <p class="album-info">December 31, 2020</p>
      </div>
    </div>
  </section>
  <section id="shows" class="container">
    <h2 class="section-heading">Shows</h2>
    <div class="shows-wrap">
      <a href="https://www.songkick.com/artists/10071168" class="songkick-widget" data-theme="dark" data-track-button="on" data-detect-style="true" data-font-color="#ffffff" data-background-color="transparent" data-locale="en">Vices Inc tour dates</a>
      <script src="//widget.songkick.com/10071168/widget.js"></script>
    </div>
  </section>
  <section id="merch" class="container">
    <h2 class="section-heading">Merch</h2>
    <div class="merch-list">
      <div class="merch-item">
        <picture>
          <img
            class="merch-image"
            src="/images/vices-everyday-hero-shirt.png"
            srcset="/images/vices-everyday-hero-shirt@2x.png 2x"
            alt="" />
        </picture>
        <p class="merch-name">An Everyday Hero Shirt</p>
      </div>
      <div class="merch-item">
        <picture>
          <img
            class="merch-image"
            src="/images/vices-shirt-black.png"
            srcset="/images/vices-shirt-black@2x.png 2x"
            alt="" />
        </picture>
        <p class="merch-name">Vices Inc Zen Shirt</p>
      </div>
      <div class="merch-item">
        <picture>
          <img
            class="merch-image"
            src="/images/vices-shirt-white.jpg"
            srcset="/images/vices-shirt-white@2x.jpg 2x"
            alt="" />
        </picture>
        <p class="merch-name">Vices Inc Logo Shirt</p>
      </div>
      <div class="merch-item">
        <picture>
          <img
            class="merch-image"
            src="/images/with-you-again-shirt.png"
            srcset="/images/with-you-again-shirt@2x.png 2x"
            alt="" />
        </picture>
        <p class="merch-name">With You Again Lyrics Shirt</p>
      </div>
    </div>
  </section>
  <section id="contact" class="container">
    <h2 class="section-heading">Contact</h2>
    {{- partial "form.html" . -}}
  </section>
</main>
{{ end }}
