{{ define "title" }}
<!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
{{ .Title }} – {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<main>
  <section id="about" class="container">
    <h1 class="section-heading">Vices Inc</h1>
    <div class="band">
      <div class="band-member">
        <picture>
          <img
            class="band-member-image"
            src="/images/ellie.png"
            srcset="/images/ellie@2x.png 2x"
            alt="" />
        </picture>
        <h3 class="band-member-name">Ellie</h3>
        <div class="band-member-role">
          <div>Lead Vocals</div>
          <div>Viola</div>
          <div>Keyboards</div>
          <div>Guitar</div>
        </div>
      </div>
      <div class="band-member">
        <picture>
          <img
            class="band-member-image"
            src="/images/jag.png"
            srcset="/images/jag@2x.png 2x"
            alt="" />
        </picture>
        <h3 class="band-member-name">Jag</h3>
        <div class="band-member-role">
          <div>Guitar</div>
          <div>Keyboards</div>
          <div>Ukulele</div>
          <div>Vocals</div>
        </div>
      </div>
      <div class="band-member">
        <picture>
          <img
            class="band-member-image"
            src="/images/zac.png"
            srcset="/images/zac@2x.png 2x"
            alt="" />
        </picture>
        <h3 class="band-member-name">Zac</h3>
        <div class="band-member-role">
          <div>Guitar</div>
          <div>Keyboards</div>
          <div>Vocals</div>
        </div>
      </div>
      <div class="band-member">
        <picture>
          <img
            class="band-member-image"
            src="/images/noah.png"
            srcset="/images/noah@2x.png 2x"
            alt="" />
        </picture>
        <h3 class="band-member-name">Noah</h3>
        <div class="band-member-role">
          <div>Guitar</div>
          <div>Keyboards</div>
          <div>Vocals</div>
        </div>
      </div>
      <div class="band-member">
        <picture>
          <img
            class="band-member-image"
            src="/images/lucas.png"
            srcset="/images/lucas@2x.png 2x"
            alt="" />
        </picture>
        <h3 class="band-member-name">Lucas</h3>
        <div class="band-member-role">
          <div>Bass</div>
          <div>Back Vocals</div>
        </div>
      </div>
      <div class="band-member">
        <picture>
          <img
            class="band-member-image"
            src="/images/kristy.png"
            srcset="/images/kristy@2x.png 2x"
            alt="" />
        </picture>
        <h3 class="band-member-name">Kristy</h3>
        <div class="band-member-role">Drums</div>
      </div>
    </div>
  </section>
  <section id="shows" class="container">
    <h2 class="section-heading">Shows</h2>
    <div class="shows-wrap">
      <a href="https://www.songkick.com/artists/10071168" class="songkick-widget" data-theme="dark" data-track-button="on" data-detect-style="true" data-font-color="#ffffff" data-background-color="transparent" data-locale="en">Vices Inc tour dates</a>
      <script src="//widget.songkick.com/10071168/widget.js"></script>
    </div>
  </section>
  <section id="music" class="container">
    <h2 class="section-heading">Music</h2>
  </section>
  <section id="merch" class="container">
    <h2 class="section-heading">Merch</h2>
  </section>
  <section id="contact" class="container">
    <h2 class="section-heading">Contact</h2>
  </section>
</main>
{{ end }}
