<h2 class="center">Our Albums</h2>
<div class="album-list">
  <div class="album">
    <picture>
      <img
        class="album-art"
        src="/images/naughty-or-vice-cover.jpg"
        srcset="/images/naughty-or-vice-cover@2x.jpg 2x"
        alt="Naughty Or Vice Album Art" />
    </picture>
    <h3 class="album-title">Naughty Or Vice</h3>
    <p class="album-info">December, 2021</p>
    <div class="center">
      <h3 class="album-price">Coming Soon</h3>
    </div>
  </div>
  <div class="album">
    <picture>
      <img
        class="album-art"
        src="/images/lets-get-scared-cover.jpg"
        srcset="/images/lets-get-scared-cover@2x.jpg 2x"
        alt="Let's Get Scared Album Art" />
    </picture>
    <h3 class="album-title">Let's Get Scared</h3>
    <p class="album-info">October 22, 2021</p>
    <div class="center">
      <h3 class="album-price">$5.94</h3>
      <a class="album-buy-button" href="https://music.apple.com/us/album/lets-get-scared-ep/1592961050" target="_blank">Buy on Apple Music</a><br />
      <a class="album-buy-button" href="https://www.amazon.com/Lets-Get-Scared-Explicit-Vices/dp/B09KRLSBYJ/ref=sr_1_1" target="_blank">Buy on Amazon</a>
    </div>
  </div>
  <div class="album">
    <picture>
      <img
        class="album-art"
        src="/images/rolling82-cover.jpg"
        srcset="/images/rolling82-cover@2x.jpg 2x"
        alt="Rolling '82 Album Art: A roller skate with a rainbow gradient. The text reads Rolling '82 - Vices Inc" />
    </picture>
    <h3 class="album-title">Rolling '82</h3>
    <p class="album-info">August 20, 2021</p>
    <div class="center">
      <h3 class="album-price">$8.91</h3>
      <a class="album-buy-button" href="https://music.apple.com/us/album/rolling-82/1580267197" target="_blank">Buy on Apple Music</a><br />
      <a class="album-buy-button" href="https://www.amazon.com/Rolling-82-Vices-Inc/dp/B09C2YPPSG/ref=sr_1_1" target="_blank">Buy on Amazon</a>
    </div>
  </div>
  <div class="album">
    <picture>
      <img
        class="album-art"
        src="/images/an-everyday-hero.jpg"
        srcset="/images/an-everyday-hero@2x.jpg 2x"
        alt="An Everyday Hero Album Art: A cartoon super hero boy and his cat side kick are featured on a comic book cover titled An Everyday Hero" />
    </picture>
    <h3 class="album-title">An Everyday Hero</h3>
    <p class="album-info">December 31, 2020</p>
    <div class="center">
      <h3 class="album-price">$9.99</h3>
      <a class="album-buy-button" href="https://music.apple.com/us/album/an-everyday-hero/1547056884" target="_blank">Buy on Apple Music</a><br />
      <a class="album-buy-button" href="https://www.amazon.com/Everyday-Hero-Explicit-Vices-Inc/dp/B08RSQDXL4/ref=sr_1_1" target="_blank">Buy on Amazon</a>
    </div>
  </div>
  <div class="album">
    <picture>
      <img
        class="album-art"
        src="/images/ive-got-the-blues-cover.jpg"
        srcset="/images/ive-got-the-blues-cover@2x.jpg 2x"
        alt="I've Got The Blues, Okay!!? Album Art" />
    </picture>
    <h3 class="album-title">I've Got The Blues, Okay!!?</h3>
    <p class="album-info">October 31, 2019</p>
    <div class="center">
      <h3 class="album-price">$12.87</h3>
      <a class="album-buy-button" href="https://music.apple.com/us/album/ive-got-the-blues-okay/1589849384" target="_blank">Buy on Apple Music</a><br />
      <a class="album-buy-button" href="https://www.amazon.com/Ive-Got-Blues-Okay-Vices/dp/B09J743G27/ref=sr_1_1" target="_blank">Buy on Amazon</a>
    </div>
  </div>
</div>