<header class="header">
  <div class="logo-wrap">
    <img src="/images/logo.jpg" alt="Vices Inc logo" class="logo" />
  </div>
  <nav class="menu-wrap container">
    <ul class="menu main-menu">
      <li><a href="#about">About Us</a></li>
      <li><a href="#shows">Shows</a></li>
      <li><a href="#music">Music</a></li>
      <li><a href="#merch">Merch</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
    <ul class="menu social-menu">
      <li><a href="#" target="_blank">{{- partial "svgs/facebook.html" . -}}</a></li>
      <li><a href="#" target="_blank">{{- partial "svgs/twitter.html" . -}}</a></li>
      <li><a href="#" target="_blank">{{- partial "svgs/instagram.html" . -}}</a></li>
      <li><a href="#" target="_blank">{{- partial "svgs/youtube.html" . -}}</a></li>
      <li><a href="#" target="_blank">{{- partial "svgs/soundcloud.html" . -}}</a></li>
    </ul>
  </nav>
</header>