<h2 class="center">Our Latest Singles</h2>
<div class="album-list">
  <div class="album">
    <picture>
      <img
        class="album-art"
        src="/images/iloveme-iloveyou.jpg"
        srcset="/images/iloveme-iloveyou@2x.jpg 2x"
        alt="I Love You / I Love Me Album Art" />
    </picture>
    <h3 class="album-title">I Love You / I Love Me</h3>
    <p class="album-info">First Themes of Love Single</p>
    <div class="center">
      <h3 class="album-price">$1.98</h3>
      <a class="album-buy-button" href="https://music.apple.com/us/album/i-love-me-i-love-you-single/1647285121" target="_blank">Buy on Apple Music</a><br />
      <a class="album-buy-button" href="https://www.amazon.com/dp/B0BGNWZN8S" target="_blank">Buy on Amazon</a>
    </div>
  </div>
  <div class="album">
    <picture>
      <img
        class="album-art"
        src="/images/babyyoureloveiknow.jpg"
        srcset="/images/babyyoureloveiknow@2x.jpg 2x"
        alt="Baby You're Love / I Know Album Art" />
    </picture>
    <h3 class="album-title">Baby You're Love / I Know</h3>
    <p class="album-info">September 23, 2022</p>
    <div class="center">
      <h3 class="album-price">$1.98</h3>
      <a class="album-buy-button" href="https://music.apple.com/us/album/baby-youre-love-single-version/1641304018" target="_blank">Buy on Apple Music</a><br />
      <a class="album-buy-button" href="https://www.amazon.com/dp/B0BBMPP876" target="_blank">Buy on Amazon</a>
    </div>
  </div>
  <div class="album">
    <picture>
      <img
        class="album-art"
        src="/images/runningupthathill.jpg"
        srcset="/images/runningupthathill@2x.jpg 2x"
        alt="Running Up That Hill / Forgotten Dust Album Art" />
    </picture>
    <h3 class="album-title">Running Up That Hill /<br />Forgotten Dust</h3>
    <p class="album-info">August 5, 2022</p>
    <div class="center">
      <h3 class="album-price">$1.98</h3>
      <a class="album-buy-button" href="https://music.apple.com/us/album/running-up-that-hill-a-deal-with-god-forgotten-dust-single/1642669451" target="_blank">Buy on Apple Music</a><br />
      <a class="album-buy-button" href="https://www.amazon.com/dp/B0BCK1YXW4" target="_blank">Buy on Amazon</a>
    </div>
  </div>
  <div class="album">
    <picture>
      <img
        class="album-art"
        src="/images/everybodybutyou-cover.jpg"
        srcset="/images/everybodybutyou-cover@2x.jpg 2x"
        alt="Everybody but You / The Best of Me Album Art" />
    </picture>
    <h3 class="album-title">Everybody but You /<br />The Best of Me</h3>
    <p class="album-info">July 26, 2022</p>
    <div class="center">
      <h3 class="album-price">$2.97</h3>
      <a class="album-buy-button" href="https://music.apple.com/us/album/everybody-but-you-the-best-of-me-single/1636841182" target="_blank">Buy on Apple Music</a><br />
      <a class="album-buy-button" href="https://www.amazon.com/dp/B0B7X454DM" target="_blank">Buy on Amazon</a>
    </div>
  </div>
  <div class="album">
    <picture>
      <img
        class="album-art"
        src="/images/change-cover.jpg"
        srcset="/images/change-cover@2x.jpg 2x"
        alt="Change / Ah! Leah! Album Art" />
    </picture>
    <h3 class="album-title">Change / Ah! Leah!</h3>
    <p class="album-info">June 18, 2022</p>
    <div class="center">
      <h3 class="album-price">$2.58</h3>
      <a class="album-buy-button" href="https://music.apple.com/us/album/change-ah-leah-single/1631173632" target="_blank">Buy on Apple Music</a><br />
      <a class="album-buy-button" href="https://www.amazon.com/dp/B0B4T8MKWT" target="_blank">Buy on Amazon</a>
    </div>
  </div>
  <div class="album">
    <picture>
      <img
        class="album-art"
        src="/images/giving-in-cover.jpg"
        srcset="/images/giving-in-cover@2x.jpg 2x"
        alt="Giving in but Not Giving Up Album Art" />
    </picture>
    <h3 class="album-title">Giving in but Not Giving Up b/w Don't Hold Your Breath</h3>
    <p class="album-info">May 13, 2022</p>
    <div class="center">
      <h3 class="album-price">$1.98</h3>
      <a class="album-buy-button" href="https://music.apple.com/us/album/giving-in-but-not-giving-up-new-version/1622386634" target="_blank">Buy on Apple Music</a><br />
      <a class="album-buy-button" href="https://www.amazon.com/dp/B09ZJ6CC9W" target="_blank">Buy on Amazon</a>
    </div>
  </div>
  <!--<div class="album">
    <picture>
      <img
        class="single-art"
        src="/images/rapid-fire-cover.jpg"
        srcset="/images/rapid-fire-cover@2x.jpg 2x"
        alt="Rapid Fire Album Art" />
    </picture>
    <h3 class="album-title">Rapid Fire<br /> b/w The World Doesn't Fit</h3>
    <p class="album-info">March 8, 2022</p>
    <div class="center">
      <h3 class="album-price">$2.58</h3>
      <a class="album-buy-button" href="https://amazon.com/music/player/albums/B09V3DWMTK?marketplaceId=ATVPDKIKX0DER&musicTerritory=US&ref=dm_sh_repXKSaprf7pyAgVXTWZLOi1R" target="_blank">Buy on Amazon</a>
      <a class="album-buy-button" href="https://music.apple.com/us/album/rapid-fire-single/1613375100" target="_blank">Buy on Apple Music</a>
    </div>
  </div>-->
</div>