<h2 class="center">Our Latest Singles</h2>
<div class="album-list">
  <div class="album">
    <picture>
      <img
        class="album-art"
        src="/images/giving-in-cover.jpg"
        srcset="/images/giving-in-cover@2x.jpg 2x"
        alt="Giving in but Not Giving Up Album Art" />
    </picture>
    <h3 class="album-title">Giving in but Not Giving Up b/w Don't Hold Your Breath</h3>
    <p class="album-info">May 13, 2022</p>
    <div class="center">
      <h3 class="album-price">$1.98</h3>
      <a class="album-buy-button" href="https://music.apple.com/us/album/giving-in-but-not-giving-up-new-version/1622386634" target="_blank">Buy on Apple Music</a><br />
      <a class="album-buy-button" href="https://www.amazon.com/dp/B09ZJ6CC9W" target="_blank">Buy on Amazon</a>
    </div>
  </div>
  <div class="album">
    <picture>
      <img
        class="single-art"
        src="/images/rapid-fire-cover.jpg"
        srcset="/images/rapid-fire-cover@2x.jpg 2x"
        alt="Rapid Fire Album Art" />
    </picture>
    <h3 class="album-title">Rapid Fire<br /> b/w The World Doesn't Fit</h3>
    <p class="album-info">March 8, 2022</p>
    <div class="center">
      <h3 class="album-price">$2.58</h3>
      <a class="album-buy-button" href="https://amazon.com/music/player/albums/B09V3DWMTK?marketplaceId=ATVPDKIKX0DER&musicTerritory=US&ref=dm_sh_repXKSaprf7pyAgVXTWZLOi1R" target="_blank">Buy on Amazon</a>
      <a class="album-buy-button" href="https://music.apple.com/us/album/rapid-fire-single/1613375100" target="_blank">Buy on Apple Music</a>
    </div>
  </div>
</div>