<ul class="menu social-menu">
  <li><a href="https://www.facebook.com/VicesInc/" target="_blank">{{- partial "svgs/facebook.html" . -}}</a></li>
  <li><a href="https://twitter.com/IncVices" target="_blank">{{- partial "svgs/twitter.html" . -}}</a></li>
  <li><a href="https://www.instagram.com/vices.inc.band/" target="_blank">{{- partial "svgs/instagram.html" . -}}</a></li>
  <li><a href="https://www.youtube.com/channel/UCZTjPAakiaBxdbesFEc4ytA?view_as=subscriber" target="_blank">{{- partial "svgs/youtube.html" . -}}</a></li>
  <li><a href="https://soundcloud.com/vicesinc" target="_blank">{{- partial "svgs/soundcloud.html" . -}}</a></li>
</ul>