<h2 class="center">Coming Soon</h2>
<div class="album-list">
  <div class="album">
    <picture>
      <img
        class="album-art"
        src="/images/litlt-single.jpg"
        srcset="/images/litlt-single@2x.jpg 2x"
        alt="Like, It's the Last Time / Catch Me If I Fall Art" />
    </picture>
    <h3 class="album-title">Like, It's the Last Time /<br />Catch Me If I Fall</h3>
    <p class="album-info">Upcoming Single</p>
    <div class="center">
      <p class="album-info"><strong>Coming November 2022</strong></p>
    </div>
  </div>
  <div class="album">
    <picture>
      <img
        class="album-art"
        src="/images/aural-wavs-1.jpg"
        srcset="/images/aural-wavs-1@2x.jpg 2x"
        alt="Aural Wavs Album Art" />
    </picture>
    <h3 class="album-title">Aural Wavs</h3>
    <p class="album-info">Our upcoming album</p>
    <div class="center">
      <p class="album-info"><strong>Coming December 2022</strong></p>
    </div>
  </div>
  <div class="album">
    <picture>
      <img
        class="album-art"
        src="/images/themes-of-love-cover.jpg"
        srcset="/images/themes-of-love-cover@2x.jpg 2x"
        alt="Themes of Love Album Art" />
    </picture>
    <h3 class="album-title">Themes of Love</h3>
    <p class="album-info">An upcoming album</p>
    <div class="center">
      <p class="album-info"><strong>Coming 2023</strong></p>
    </div>
  </div>
</div>