<h2 class="center">Coming Soon</h2>
<div class="album-list">
  <div class="album">
    <picture>
      <img
        class="album-art"
        src="/images/change-cover.jpg"
        srcset="/images/change-cover@2x.jpg 2x"
        alt="Change Album Art" />
    </picture>
    <h3 class="album-title">Change<br /> b/w Ah! Leah!</h3>
    <p class="album-info">Our next single to be released!</p>
    <div class="center">
      <p class="album-info"><strong>Coming June, 18, 2022</strong></p>
    </div>
  </div>
  <div class="album">
    <picture>
      <img
        class="album-art"
        src="/images/rolling-82-deluxe-cover.jpg"
        srcset="/images/rolling-82-deluxe-cover@2x.jpg 2x"
        alt="Rolling '82 Deluxe Version Album Art" />
    </picture>
    <h3 class="album-title">Rolling '82 Deluxe Version</h3>
    <p class="album-info">Major expansion version of the<br /> Rolling '82 (E.P.)</p>
    <div class="center">
      <p class="album-info"><strong>Coming July 4th 2022</strong></p>
    </div>
  </div>
  <div class="album">
    <picture>
      <img
        class="album-art"
        src="/images/themes-of-love-cover.jpg"
        srcset="/images/themes-of-love-cover@2x.jpg 2x"
        alt="Themes of Love Album Art" />
    </picture>
    <h3 class="album-title">Themes of Love</h3>
    <p class="album-info">Our upcoming summertime album</p>
    <div class="center">
      <p class="album-info"><strong>Coming August 2022</strong></p>
    </div>
  </div>
</div>